{% extends "base.html" %}
{% block content %}
<main class="flex-grow-1">
<div class="container-lg mt-3">
  <h1>Сайт: {{ name }}</h1>
  <div class="table-responsive">
    <table class="table table-bordered" data-test="url">
      <tr>
        <td>ID</td>
        <td>{{ id }}</td>
      </tr>   
      <tr>
        <td>Имя</td>
        <td>{{ name }}</td>
      </tr>
      <tr>
        <td>Дата создания</td>
        <td>{{ created_at }}</td>
      </tr>
    </table>
  </div>
  <form action="{{ url_for('get_check_url', id = id)}}" method="post">
    <h2 class = "mt-5 mb-2">Проверки</h2>
    <input type="submit" class="btn btn-primary mt-2" value="Запустить проверку">
    <table class="table table-bordered mt-2" data-test="checks">
      <thead>
        <tr>
          <th>ID</th>
          <th>Код ответа</th>
          <th>h1</th>
          <th>title</th>
          <th>description</th>
          <th>Дата создания</th>
        </tr>
      </thead>
      {% if checks %}
      <tbody>
        {% for check in checks[::-1] %}
        <tr>
          <td>{{ check['id'] }}</td>
          <td>{{ check['status_code'] }}</td>
          <td>{% if check['h1'] is not none %}{{ check['h1'] }}{% endif %}</td>
          <td>{% if check['title'] is not none %}{{ check['title'] }}{% endif %}</td>
          <td>{% if check['desc'] is not none %}{{ check['desc'] }}{% endif %}</td>
          <td>{{ check['created_at'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
  </form>
</div>
</main>
{% endblock %}